body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #3296fa;
}
.page-nav-bar .van-nav-bar__title {
  color: white;
}
.page-nav-bar .van-nav-bar__left {
  color: white;
}
.van-nav-bar {
  background-color: #007bff;
}
.van-nav-bar .van-nav-bar__title {
  color: white;
}
